.auth {
    height: 100vh;
    background-image: linear-gradient(whitesmoke,rgb(255, 130, 130));
    overflow: scroll;
}
.landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.auth-actions {
    padding-top: 10%;
    padding-bottom:30%
}
.cut-logo {
    padding-top: 15%;
}

.cut-logo svg {
    fill: black;
    /* fill: #f8285c; */
}

.svg-container div {
    height: fit-content;
    width: 70%;
    margin: 0 auto;
}

.landing-signin {
    color:#f8285c;
    cursor: pointer;
}

.sign-in,.sign-up {
    height: 100%;
    padding: 10%;
}

.back-arrow {
    position: absolute;
    height:40px;
    width: 40px;
    padding: 12px;
}

.auth-button-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 160px;
}

.span-line {
    height: 2px;
    width: 40px;
    background-color: black;
}

.or-option {
    display: flex;
    justify-content: center;
}

.or-option div {
    width: 100px;
    height: 0.5px;
    background: black;
    align-self: center;
}

.or-option span {
    padding: 0 10px;
}

.credit {
    font-size: 1rem;
    color: rgb(77, 77, 77);
}

@media screen and (min-width:700px) {
    .auth {
        height: 80vh;
        width: 25vw;
        margin: 0 auto;
    }
    .landing {
        overflow: scroll;
    }

}
