.App {
  text-align: center;
}

button {
  background-color: #f8285c;
  border: none;
  height: 60px;
  width: 200px;
  border-radius: 18px;
  filter: drop-shadow(0px 1px 2px black);
  color: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 0px 0px 13px 2px #f8658a;
}

p {
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
}


