.homepage {
    background-image: linear-gradient(whitesmoke,rgb(255, 130, 130));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.homepage h1 {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}


.date-selection-container {
    display: flex;
    justify-content: center;
    margin-bottom: 18%;
}

.back-arrow {
    cursor: pointer;
}

.arrow.disabled polygon  {
    fill: grey;
    filter: blur(1px);
}

p { color: black;padding: 0 12%;}

@media screen and (min-width:700px) {
    .homepage {
        width: 50vw;
        margin: 0 auto;
    }
}